.site-auth {
  width: 100%;
  height: 100vh;
  background-color: var(--body-bg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.site-auth-box {
  width: 100%;
  max-width: 350px;
  padding: 30px 22px;
  border-radius: 8px;
  background-color: #fff;
  border-top: 8px solid var(--decorative-color-1);
  box-shadow: 0px 0px 8px 0 var(--primary-color-shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-auth-heading {
  font-size: 19px;
  margin-bottom: 25px;
  text-align: center;
}

.site-auth-input {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #ccc;
  font-size: 16px;
  border-radius: 6px;
  padding-right: 41px;
  margin-bottom: 20px;
}
.site-auth-btn {
  width: 100%;
  cursor: pointer;
  border-radius: 8px;
  background-color: var(--decorative-color-1);
  color: #fff;
  font-size: 20px;
  padding: 8px 12px;
  margin-bottom: 5px;
}

.site-auth-image {
  width: 130px;
  height: 100px;
  margin-bottom: 20px;
}

.inputs-icons-wrapper {
  position: relative;
}

.icon-inputs {
  position: absolute;
  top: 0;
  right: 10px;
  transform: translateY(-10%);
  width: 22px;
}


@media (max-width:380px) {
  .site-auth-box {
    max-width: 330px;
  }
}

@media (max-width:360px) {
  .site-auth-box {
    max-width: 300px;
  }
}