.home-header-section {
  width: 100%;
  padding: 30px 0px;
  margin-bottom: 40px;
}
.index-home-list {
  display: flex;
  justify-content: center;
}
.index-home-item-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.home-item {
  width: 285px;
  background-color: #fff;
  border-radius: 8px;
  height: 140px;
  padding: 20px 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all .3s ease;
  cursor: pointer;
  box-shadow: 0 0 5px 0 var(--primary-color-shadow);
}
.home-item-1 {
  border-bottom: 8px solid var(--decorative-color-1);
}
.home-item-2 {
  border-bottom: 8px solid var(--decorative-color-2);
}
.home-item-3 {
  border-bottom: 8px solid var(--decorative-color-3);
}
.home-item-4 {
  border-bottom: 8px solid var(--decorative-color-4);
}
.home-item:hover {
  transform: translateY(-5px);
}
.home-item-content-heading {
  font-size: 17px;
  margin-bottom: 10px;
  font-weight: 600;
  color: var(--text-color);
  white-space: nowrap;
}
.home-item-content-value {
  font-size: 27px;
  color: var(--text-color);
  white-space: nowrap;
}
.home-item-image {
  width: 57px;
  height: 57px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-item-image-1 {
  background-color: #e6f1ff;
  color: var(--decorative-color-1);
}
.home-item-image-2 {
  background-color: #e2ffea;
  color: var(--decorative-color-2);
}
.home-item-image-3 {
  background-color: #fff0dd;
  color: var(--decorative-color-3);
}
.home-item-image-4 {
  background-color: #f4e9ff;
  color: var(--decorative-color-4);
}

@media (max-width:768px) {
  .index-home-list {
    gap: 14px;
  }
}
@media (max-width:936.999px) {
  .home-item {
    width: 100%;
  }
}


/* DIAGRAMMA MINI */

.home-diagramms {
  width: 100%;
  padding: 50px 0px;
  padding-bottom: 100px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.css-uqbd1z-MuiChartsWrapper-root {
  display: block !important;
  justify-items: center !important;
}

.teacher-sect {
  width: 100%;
  max-width: 700px;
  height: 400px;
  text-align: center;
}
.teacher-sect .teacher-sect-title {
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

@media (max-width:454.9px) {
  .teacher-sect .teacher-sect-title {
    font-size: 24px;
  }
}

@media (min-width: 1020px) and (max-width: 1219.9px) {
  .home-diagramms {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width:1219.9px) {
  .teacher-sect {
    margin-bottom: 50px;
  }
}

@media (max-width:1107.999px) {
  .css-uqbd1z-MuiChartsWrapper-root {
    display: grid !important;
    justify-items: center !important;
  }
}

@media (max-width:540.9px) {
  tspan {
    display: none !important;
  }
}