.index-header {
  width: 100%;
  background-color: var(--highlist-color);
  border-radius: 8px;
  min-height: 78.8px;
  box-shadow: 0 0 8px 0 var(--primary-color-shadow);
  display: flex;
  align-items: center;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-logo {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--text-color);
  flex-grow: 1;
}
.header-menu-icon {
  display: none !important;
}
.header-profile-image {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  user-select: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .header-container {
    padding-left: 25px;
    padding-right: 25px;
    transition: all .3s ease;
  }
  .header-info-wrapper {
    display: none;
  }
  .header-menu-icon {
    display: block !important;
  }
}