.schedule-section {
  width: 100%;
  padding: 30px 0px;
}
.group-item-icon {
  width: 34px;
  height: 34px;
  position: absolute;
  height: 100%;
  bottom: 10px;
  right: 24px;
  transform: translateY(10%);
  cursor: pointer;
}
.group-item-wrapper {
  padding-right: 45px;
}

.objects-hide {
  display: none;
}