.schedule-section {
  width: 100%;
  padding: 30px 0px;
}
.CoursesTwo-section {
  margin-top: 30px;
}
.group-item-icon {
  width: 34px;
  height: 34px;
  position: absolute;
  height: 100%;
  bottom: 10px;
  right: 24px;
  transform: translateY(10%);
  cursor: pointer;
}
.group-item-wrapper {
  padding-right: 45px;
}

.objects-hide {
  display: none;
}
#group-list {
  padding-right: 80px;
  background-color: var(--text-color);
}

@media (max-width:1000px) {
  #group-list {
    padding-right: 100px;
  }
}